html
    head
        title="something rocks"
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        .container
            .jumbotron
                h1 Hello
                p Click the button
                p
                    a.btn.btn-primary(href="http://www.google.com") GOOGLE
                p